---
import { ClientRouter } from 'astro:transitions'

import type { HTMLAttributes } from 'astro/types'

import '../global.css'

type Props = {
  title?: string
  description?: string
  bodyProps?: HTMLAttributes<'body'>
}

const { title = 'Explored Map IRL', description, bodyProps } = Astro.props
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗺️</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {!!description && <meta name="description" content={description} />}
    <meta property="og:title" content={title} />
    {!!description && <meta property="og:description" content={description} />}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    {!!description && <meta name="twitter:description" content={description} />}

    <ClientRouter />
  </head>
  <body {...bodyProps}>
    <slot />
  </body>
</html>
