---
import { ClientRouter } from 'astro:transitions'
import { pwaInfo } from 'virtual:pwa-info'

import '../global.css'

type Props = {
  title?: string
  description?: string
}

const { title = 'Explored Map IRL', description } = Astro.props
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {!!description && <meta name="description" content={description} />}
    <meta property="og:title" content={title} />
    {!!description && <meta property="og:description" content={description} />}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    {!!description && <meta name="twitter:description" content={description} />}
    <meta name="theme-color" content="#000000" />
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
